<%# use the GET method to send a request to the server %>
<%= form_tag(categories_path, method: :get) do %>
  <%# create a dropdown menu for sorting options. The selected option is determined by params[:sort_by] %>
  <%= select_tag :sort_by, options_for_select({ "Name" => "name", "Description" => "description", "Status" => "status" }, params[:sort_by]), class: "sort-dropdown" %>
  <%# create a submit button labeled "Sort" %>
  <%= submit_tag "Sort", class: "btn btn-primary" %>
<% end %>

<%# create a table of the categories, resembling an actual database %>
<table class="categories-table">
  <thead>
    <tr>
      <%# categories/columns %>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th> 
    </tr>
  </thead>
  <tbody>
    <%# iterate through the data in categories and get its attributes to create a row %>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.status ? "Active" : "Inactive" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


